.movie-details {
  .movie-details__title {
    margin-bottom: 20px;
  }

  .movie-details__image {
    margin: auto;
  }

  .movie-details__rating {
    align-items: center;
    height: 32px;
  }

  .movie-details__button {
    margin-top: 14px;
  }
}
